{% extends "beforesignin.html" %}
{% block content %}
<form action="{% url 'ToDoApp:confirmforgotpassword' %}" method="post">
{% csrf_token %}
    {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
    <input type="text" name="code" placeholder="Verification Code" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="submit" value="Submit"><br><br>
</form>
<a href="{% url 'ToDoApp:signup' %}">signup</a> <a href="{% url 'ToDoApp:signin' %}">signin</a>
<a href="{% url 'ToDoApp:forgotpassword' %}">Resend code</a>
{% endblock content %}