{% extends "aftersignin.html" %}
{% block content %}
<form action="{% url 'ToDoApp:update' todo.TodoId %}"  method="post">
    {% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <input type="hidden" name="detailform" value="Yes">
    <table>
        <tr>
            <td>
                <a href="{% url 'ToDoApp:todos' %}"><i class="fa fa-arrow-left"></i></a>
            <a href="{% url 'ToDoApp:delete' todo.TodoId %}"><i class="fa fa-trash"></i></a>
            {% if todo.CompletionStatus == 'Y' %}
                <label class="switch">
                    <input type="checkbox" onchange="this.form.submit()" name="completionstatus" checked>
                    <span class="slider round"></span>
                </label>
                <strike> {{ todo.TodoDescription }} </strike>
            {% else %}
                <label class="switch">
                    <input type="checkbox" onchange="this.form.submit()" name="completionstatus" checked>
                    <span class="slider round"></span>
                </label>
                <b>{{ todo.TodoDescription }}</b>
            {% endif %}
            </td>
        </tr>
        <tr>
            <td><b>Creation Date Time:</b> {{ todo.CreationDateTime }}</td>
        </tr>
        {% if todo.CompletionDateTime %}
            <tr>
                <td><b>Completed Date Time:</b> {{ todo.CompletionDateTime }}</td>
            </tr>
        {% endif %}
    </table>
</form>
{% endblock content %}