{% extends 'beforesignin.html' %}
{% block content %}
<form action="{% url 'ToDoApp:signin' %}" method="post">
{% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="submit" value="Login">
</form>
<br>
<a href="{% url 'ToDoApp:signup' %}">Signup</a> <a href="{% url 'ToDoApp:forgotpassword' %}">Forgot Password</a>
{% endblock content %}