{% extends "aftersignin.html" %}
{% block content %}

<form action="{% url 'ToDoApp:create' %}" method="post">
{% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <input type="text" name="description" placeholder="New To Do" required>
    <input type="submit" value="Create"><br>
</form><br>
{% if todo_list %}
    {% for todo in todo_list %}
            <form action="{% url 'ToDoApp:update' todo.TodoId %}" method="post">
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <input type="hidden" name="todosform" value="Yes">
                <table>
                    <tr>
                        <td>
                            <a href="{% url 'ToDoApp:detail' todo.TodoId %}"><i class="fa fa-eye"></i></a>
                            <a href="{% url 'ToDoApp:delete' todo.TodoId %}"><i class="fa fa-trash"></i></a>
                            {% if todo.CompletionStatus == 'Y' %}
                            <label class="switch">
                            <input type="checkbox" onchange="this.form.submit()" name="completionstatus" checked>
                                <span class="slider round"></span>
                            </label>
                                <strike><span> {{ todo.TodoDescription }}</span> </strike>
                            {% else %}
                             <label class="switch">
                                <input type="checkbox" onchange="this.form.submit()" name="completionstatus" >
                            <span class="slider round"></span>
                             </label>
                            <b>{{ todo.TodoDescription }}</b>
                            {% endif %}
                        </td>

                    </tr>
                </table>


            </form>
    {% endfor %}
{% else %}
    <p>There are no ToDos in your list. Please add new one</p>
{% endif %}
{% endblock content %}