input[type=text] {
  width: 400px;
  box-sizing: border-box;
  border-radius: 1px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  transition: width 0.4s ease-in-out;
  border: none;
  border-bottom: 2px solid red;

}
input[type=text]:focus {
  width: 40%;
  font-size: 16px;
}
input[type=submit] {
  width: 100px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: green;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  transition: width 0.4s ease-in-out;
}

input[type=submit]:focus {
  font-size: 16px;
}


a:link, a:visited{
  background-color: #7FFF00;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

a:hover, a:active{
  background-color: red;
  border-radius: 10px;
 }
h1 { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 25px; line-height: 40px; font-weight: normal; margin-bottom: 10px; margin-top: 20px; text-align: center; text-shadow: 0 1px 1px #fff; }

h3 { color: #d56060; font-family: "Great Vibes", cursive; font-size: 35px; line-height: 40px; font-weight: normal; margin-bottom: 10px; margin-top: 20px; text-align: center; text-shadow: 0 1px 1px #fff; }

table {

  width: 50%;
}

th, td {
  padding :5px;
  text-align: left;
}
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}